{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{# form will be an instance of RegistrationForm model #}
{% block app_content %}
    <h1>Sign In</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <div class="row">
        <p>
            New User?
            <a href="{{ url_for('register') }}">Click to Register!</a>
        </p>
        <p>
            Forgot Your Password?
            <a href="{{ url_for('reset_password_request') }}">Click to Reset It</a>
        </p>
    </div>
{% endblock %}
